*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sub{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 20%;
}
.image1{
    width: 140px;
    height: 130px;
    margin-top: 50px;
    margin-left: 70px;
}
.image2{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
}
.icons{
    padding-top: 100px;
    display: flex;
    gap: 5px;
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
}
.icons button{
    width: 150px;
    margin-top: 2px;
    padding-right: 80px;
    padding-left: 5px;
    font-size: 25px;
    border: none;
    background-color:transparent;
    cursor: pointer;
}


.icons1{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
}

.icons1 button{
    width: 200px;
    margin-top: 2px;
    padding-right: 80px;
    padding-left: 5px;
    font-size: 25px;
    border: none;
    background-color:transparent;
    cursor: pointer; 
    border-radius:5px;
     margin-right:20px ; 

}

.image3{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
}
.icons2{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    /* background-color: white; */
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
    
}

.icons2 button{
    width: 150px;
    margin-top: 2px;
    padding-right: 60px;
    padding-left: 5px;
    font-size: 25px;
    border: none;
    background-color:transparent;
    cursor: pointer;
}

.image4{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
}

.icons3 button{
    width: 150px;
    margin-top: 2px;
    padding-right: 80px;
    font-size: 25px;
    border: none;
    background-color:transparent;
    cursor: pointer;
}

.icons3{
    margin-top: 300px;
    display: flex;
    gap: 5px;
    /* background-color: white; */
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
    
}

.image5{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
}

.right{
    background-color: rgb(255, 240, 220);
    width: 1200px;
    height: 100vh;
}
.one h1{
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
}
.line1{
    display: flex;
    padding-top: 40px;
    margin-left: 40px;
    font-size: 20px;
    
}
.butt{
    margin-left: 800px;
    margin-right: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    cursor: pointer;
}
.butt1{
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    cursor: pointer;
}
.butt2{
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    cursor: pointer;
}

  
   .drop {
    display: inline-block;
    position: relative;
  }
  
 
  .option {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    width: 190px;
  }
  
  .dropd{
    display: flex;
  }
  .drop a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-top: 11px;
    padding-left: 5px;
  }
  
  .option a {
    display: flex;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:10px 40px;
    width: 150px;
  }
  
  .option a:hover {
    color: #999696;
    background-color: #ddd;
    border-radius:5px;
  
  }  

.colu{
    font-size: 5px;
}
  .grey{
    background-color: #999696;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .pink{
    background-color: lightcoral;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .yellow{
    background-color: sandybrown;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .blue{
    background-color: deepskyblue;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .grey , .pink , .yellow , .blue{
   margin-top: 5px;
   margin-right: 8px;
   font-size: 15px;

  }
  .colu4 a{
    margin-right: 5px;
  }
  .fun{
    height: 20px;
    width:20px;
  }
   .blocker{
    background-color: white;
    width: 95%;
    height: 67px;
    margin-left: 37px;
    margin-top: 10px;
    border-radius: 15px;
   }
   .radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: outset ;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
    accent-color: blueviolet;
   }
   .block2{
    margin-top: -45px;
    margin-left: 90px;
    
   }
   
   .pencil{
    height: 25px;
    width: 25px;
    padding-right: 5px;
    margin-left: 900px;
    
   }
   .del{
     height: 25px;
    width: 25px;
    padding-left: 25px;
   } 
   .mpt{
    background-color: lightcoral;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    border-radius: 3px;
     
   }
   .add{
    width: 95%;
    height: 40px;
    margin-left: 37px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
   }
   .kodu{
    margin-left: 70px;
    margin-top: -48px;
    font-size: 20px;
    line-height: 35px;
    padding-left: 20px;
    border-left: 2px solid rgb(200, 200, 200);

   }
   .kodu p{
    margin-left: 25px;
    margin-top: -24px;
    border-radius: 3px;
   }


  #deletetask{
    cursor: pointer;
  }
  .optionss {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    margin-left: 150px;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    width: 190px;
  }
  
  .drop3:hover .optionss {
    display: block;
  }

  .optionss a {
    display: flex;
    color: #000000;
    padding: 15px;
    text-decoration: none;
    margin-top: 5px;
    width: 150px;
  }
  
  .optionss a:hover {
    color: #999696; 
    background-color:#ddd;
    border-radius:5px;
  }  

.drop3{
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  margin-top: 5px;
  border-radius: 5px;
}

.popup-content p{
  margin-top: 5px;
 
}
  .pinkk{
    background-color: lightcoral;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .yelloww{
    background-color: sandybrown;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .bluee{
    background-color: deepskyblue;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }

 .pinkk , .yelloww , .bluee{
   margin-top: 4px;
   margin-right: 8px;
   font-size: 5px;
   
  }

  #addtask{
  padding: 2px 30px 2px 30px ;
  border-radius: 5px ;
  margin-top: 20px;
  margin-right: 5px;
  
  }
  #canceltask{
    padding: 2px 25px 2px 25px ;
  border-radius: 5px ;
  
 
  }
  #inputu{
    width: 100%;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
  }

 /* /sdfghjkl; */


 .popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  margin-bottom: 200px;
  border-radius: 10px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover, .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.category-options {
  display: none;
  background-color: white;
  border: 1px solid #888;
  padding: 10px;
  cursor: pointer;
}

.category-options .pink {
  background-color: lightcoral;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
}

.category-options .yellow {
  background-color: sandybrown;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
}

.category-options .blue {
  background-color: deepskyblue;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 2px;
}

.category-options div {
  padding: 5px 10px;
}

.category-options div:hover {
  background-color: #f1f1f1;
}

.buttons{
  margin-top: 10px;
  margin-left: 20px;
  }
  #btn1{
    margin-right: 20px;
    padding: 2px 30px 2px 30px;
  }
  #btn2{
    margin-right: 20px;
    padding: 2px 30px 2px 30px;
  }
